{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "parser": "typescript",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "arrowParens": "always",
  "jsxBracketSameLine": true
}